#main_div{
    width:960px;
    margin:0 auto;
    height:555px;
}
#contacts_div{
    position:relative;
    float:left;
    width:325px;
    margin-left:65px;
    margin-right:45px;
    height:555px;
}

.paragraph_class{
    font-family:georgia;
    font-size:10px;
    color:#832231;
    margin-top:14px;
    line-height:1.5;
}

.paragraph_class_1{
    font-family:georgia;
    font-size:10px;
    color:#832231;
    line-height:1.5;
}
.form_p{
    font-family:georgia;
    font-size:10px;
    color:#832231;
    margin-top:13px;
    margin-bottom:13px;

}

#form_input_1{
    height:28px;
    width:210px;
    border:1px solid #832231;
    font-family:georgia;
    font-size:18px;
    color:#832231;
}

#form_input_2{
    height:28px;
    width:320px;
    border:1px solid #832231;
    font-family:georgia;
    font-size:18px;
    color:#832231;
}

#form_input_3{
    height:115px;
    width:320px;
    border:1px solid #832231;
    font-family:georgia;
    font-size:18px;
    color:#832231;
    resize: none;
}
#div_s_kartoi{
    position:relative;
    float:right;
    height:555px;
    width:455px;
}


#button_div{
    margin-top:25px;
    width:230px;
    height:34px;
}

/*----------------------------��������----------------------------*/
a.knopka {
    border:1px solid #832231;
    width:230px;
    height:34px;
    text-decoration: none; /* ������� ������������� � ������ */
    user-select: none; /* ������� ��������� ������ */
    background:#ffffff; /* ��� ������ */
    color:#832231;
    padding: .7em 1.5em; /* ������ �� ������ */
    outline: none; /* ������� ������ � Mozilla */
}
a.knopka:hover { color:#c01a34; } /* ��� ��������� ������� ����� */
a.knopka:active { color:#c01a34; } /* ��� ������� */