#main_div{
    width: 940px;
    height:auto;
    margin: 0 auto;
}


#text_div{
    margin-top:110px;
    position:relative;
    float:left;
    width:444px;
    font-family:georgia;
    font-size:17px;
    color:#832231;
    line-height:25px;
}

#image_div{
    margin-top:110px;
    position:relative;
    float:right;
    width:452px;
}


#table_style{
    width:445px
    cellspacing:1px;
    background-color:#832231;
    font-family:georgia;
    font-size:17px;
    color:#832231;
    text-align:center;
    line-height:25px;
    padding-left:14px;
    padding-right:14px;
}

#1line{
    height:35px;
    vertical-align:top;
}

.td_style{
    background-color:#ffffff;
    font-family:georgia;
    font-size:17px;
    color:#832231;
    text-align:center;
    line-height:25px;
    padding-left:14px;
    padding-right:14px;
}

