#body_div{
    width:960px;
    margin:0 auto;
}

#info_div{
    width:960px;
    text-align:center;
    margin-top:20px;
    font-family:georgia;
    font-size:17px;
    color:#832231;
}

#a_style {
    color: #8b313f;
    font-family: georgia;
}


#slider_div{
    width:510px;
    height:550px;
    margin:0 auto;
    background-color:yellow;
}


#form_div{
    width:520px;
    height:355px;
    margin:0 auto;
    font-family:georgia;
    font-size:17px;
    color:#832231;
}

.head_form{
    text-align:center;
}

#form_input_1 {
    height: 17px;
    width: 410px;
    border: 1px solid #832231;
    font-family: georgia;
    font-size: 18px;
    color: #832231;
    padding-left: 7px;
    outline: none;
}

#form_input_2 {
    margin:top 5px;
    height: 17px;
    width: 339px;
    border: 1px solid #832231;
    font-family: georgia;
    font-size: 18px;
    color: #832231;
    padding-left: 7px;
    outline: none;
}

#form_input_3 {
    height: 190px;
    width: 505px;
    border: 1px solid #832231;
    font-family: Georgia;
    font-size: 16px;
    color: #832231;
    resize: none;
    padding-left: 7px;
    padding-top: 5px;
    outline: none;
}

#forma{
    line-height:2;
}

a.knopka {
    border:1px solid #832231;
    width:230px;
    height:25px;
    text-decoration: none; /* ������� ������������� � ������ */
    user-select: none; /* ������� ��������� ������ */
    background:#ffffff; /* ��� ������ */
    color:#832231;
    padding: .4em 1.5em; /* ������ �� ������ */
    outline: none; /* ������� ������ � Mozilla */
}
a.knopka:hover { color:#c01a34; } /* ��� ��������� ������� ����� */
a.knopka:active { color:#c01a34; } /* ��� ������� */



.flextext{
    color: #832231;
    font-family: Georgia;
    font-size: 15px;
    display: block;
    margin: 0 auto;
}