#contacts_div{
    position:relative;
    float:left;
    width:325px;
    margin-left:65px;
    margin-right:45px;
    height:auto;
}

.paragraph_class{
    font-family:georgia;
    font-size:16px;
    color:#832231;
    margin-top:14px;
    line-height:1.5;
}

.paragraph_class_1{
    font-family:georgia;
    font-size:16px;
    color:#832231;
    line-height:1.5;
}
.form_p{
    font-family:georgia;
    font-size:16px;
    color:#832231;
    margin-top:13px;
    margin-bottom:7px;
}

#form_input_1{
    height:28px;
    width:210px;
    border:1px solid #832231;
    font-family:georgia;
    font-size:18px;
    color:#832231;
    padding-left: 7px;
    outline: none;
}

#form_input_2{
    height:28px;
    width:320px;
    border:1px solid #832231;
    font-family:georgia;
    font-size:18px;
    color:#832231;
    padding-left: 7px;
    outline: none;
}

#form_input_3{
    height:115px;
    width:320px;
    border:1px solid #832231;
    font-family: Georgia;
    font-size:16px;
    color:#832231;
    resize: none;
    padding-left: 7px;
    padding-top: 5px;
    outline: none;
}
#div_s_kartoi{
    position:relative;
    float:right;
    height:auto;
    width:455px;
}


#button_div{
    margin-top:25px;
    width:230px;
    height:34px;
}

/*----------------------------��������----------------------------*/
a.knopka {
    border:1px solid #832231;
    width:230px;
    height:34px;
    text-decoration: none; /* ������� ������������� � ������ */
    user-select: none; /* ������� ��������� ������ */
    background:#ffffff; /* ��� ������ */
    color:#832231;
    padding: .7em 1.5em; /* ������ �� ������ */
    outline: none; /* ������� ������ � Mozilla */
}
a.knopka:hover { color:#c01a34; } /* ��� ��������� ������� ����� */
a.knopka:active { color:#c01a34; } /* ��� ������� */


#kartinka img{
    position: relative;
    float: left;
    margin-top: 20px;
}

#cont_social{
    position: relative;
    width: inherit;
    height: auto;
}

#cont_insta{
    position: relative;
    width: 135px;
    height: auto;
}