#mainmenu{
    position: relative;
    height: 518px;
    width: 934px;
    margin: 13px 13px 0 13px;
    background-color: #ffffff;
    margin-bottom: 15px;
}

#mm_menu{
    position: relative;
    width: inherit;
    height: 53px;
    overflow: visible;
}

#mm_menu table tr{
    position: relative;
    width: inherit;
    height: inherit;
}

#mm_menu table tr td{
    display: inline-block;
    background-color: #832231;
    position: relative;
    height: 53px;
    cursor: pointer;
    text-align: center;
    padding-top: 15px;
}

.text{
    color: #f4ede4;
    font-size: 18px;
    font-family: Georgia;
}

#mm_menu table tr td:hover{
    background: url("img/menuback.png");
}

.bord{
    border-right: 1px #ffffff solid;
    border-left: 1px #ffffff solid;
}

.bord:last-child{
    border-right: none;
}

.bord:first-child{
    border-left: none;
}

#mm_about{
    position: relative;
    height: inherit;
    width: 167px;
}

#mm_about:hover ul{
    display: block;
}

#mm_numbers{
    position: relative;
    height: inherit;
    width: 214px;
}

#mm_map{
    position: relative;
    height: inherit;
    width: 182px;
}

#mm_booking{
    position: relative;
    height: inherit;
    width: 216px;
}

#mm_cont{
    position: relative;
    height: inherit;
    width: 154px;
}

#mm_photo{
    position: relative;
    width: inherit;
    height: 380px;
    overflow: hidden;
}

#mm_photo img{
    position: relative;
    width: 933px;
    overflow: hidden;
    height: inherit;
    float: left;
}

#mm_opt{
    position: relative;
    width: inherit;
    height: 85px;
}

#mm_opt table tr{
    position: relative;
    width: inherit;
    height: inherit;
}

#mm_opt table tr td{
    display: inline-block;
    background-color: #f4ede4;
    position: relative;
    height: 85px;
    cursor: pointer;
    text-align: center;
    padding-top: 17px;
}

.text2{
    color: #832231;
    font-size: 18px;
    font-family: Georgia;
}

#mm_opt table tr td:hover div{
    display: block;
}

#mm_romant{
    position: relative;
    height: inherit;
    width: 336px;
}

#mm_romant div{
    position: absolute;
    width: 335px;
    height: 130px;
    padding: 10px 9px 0 10px;
    background-color: #f4ede4;
    top: -129px;
    display: none;
}

#mm_exc{
    position: relative;
    height: inherit;
    width: 428px;
}

#mm_exc div{
    position: absolute;
    width: 427px;
    height: 130px;
    padding: 10px 10px 0 10px;
    background-color: #f4ede4;
    top: -129px;
    display: none;
}

#mm_sale{
    position: relative;
    height: inherit;
    width: 169px;
}

#mm_sale div{
    position: absolute;
    width: 169px;
    height: 130px;
    padding: 10px 9px 0 8px;
    background-color: #f4ede4;
    top: -129px;
    display: none;
}

#mm_about_sub{
    position: absolute;
    width: 278px;
    background: url("img/menuback.png");
    height: 84px;
    z-index: 50;
    margin-top: 16px;
    display: none;
}


#mm_about_sub li{
    position: relative;
    width: inherit;
    height: 28px;
    display: list-item;
    padding-left: 27px;
    padding-top: 4px;
    color: #f4ede4;
    font-size: 18px;
    font-family: Georgia;
    cursor: pointer;
}

#mm_about_sub li:hover{
    background: url("img/menubackop.png");
}
