#rom_text1{
    color: #832231;
    font-family: Georgia;
    font-size: 20px;
    text-align: center;
}

#rom_cont{
    position: relative;
    width: inherit;
    height: 150px;
    margin-bottom: 20px;
}

#rom_cont li{
    display: inline-block;
}

#rom_text2{
    padding-left: 125px;
    height: auto;
    color: #832231;
    text-align: left;
    font-size: 15px;
    width: 400px;
}

#rom_rose{
    position: relative;
    width: 500px;
}

#rom_rose img{
    float: right;
    margin-right: 50px;
}

#rom_prize{
    color: #832231;
    font-size: 45px;
    text-align: center;
    font-family: Georgia;
}