
#text_div{
    margin-top:40px;
    position:relative;
    float:left;
    width:444px;
    font-family:georgia;
    font-size:17px;
    color:#832231;
    line-height:25px;
}

#image_div{
    margin-top:40px;
    position:relative;
    float:right;
    width:452px;
}


#table_style{
    width:445px;
    font-family:georgia;
    font-size:17px;
    color:#832231;
    text-align:center;
    border-collapse: collapse;
    margin-top: 10px;
}

#table_style tr td{
    border: 1px #832231 solid;
}

.td_style{
    width: 84px;
}

.td_style1{
    width: 109px;
}

#line1{
    height: 36px;
}

#line2, #line3{
    height: 61px;
}


