* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#background{
    background-color:#efe6dc;
    height:auto;
    width:100%;
}

#main_div{
    background-color:#FFFFFF;
    width:960px;
    height:auto;
    margin:0 auto;
}

