#form_title{
	font-family:'MyriadProR';
	font-size:24px;
	color:#6e272f;
	text-align:center;
	margin-top:25px;
}


.line_p{
	color:#6e272f;
	font-family:'MyriadProR';
	font-size:16px;
	padding-left:18px;
}



#wishes{
	margin-top:0;
}

#wishes_div{
	width:inherit;
	height:100px;
}

#wishes_input{
	height:inherit;
	width:282px;
	margin-left:18px;
	margin-top:11px;
	color:#6e272f;
	font-size:15px;
	resize:none;
	outline:none;
	border:none;
	padding-left:3px;
}

#but_div{
	width:inherit;
	height:28px;
	margin-top:20px;
}

#clear_span{
	width:85px;
	height:inherit;
	margin-left:94px;
	float:left;
}

#send_span{
	width:85px;
	height:inherit;
	margin-right:10px;
	float:right;
}

.booking_but{
	width:85px;
	height:28px;
	background-color:#fff;
	color:#6e272f;
	font-family:'MyriadProR';
	font-size:15px;
	outline:none;
	border:none;
	cursor:pointer;
}

.booking_but:hover{
	ccolor:#72242b;
	font-weight:bold;
}

#booking_2_div{
	margin-top:14px;
	position:relative;
	width:inherit;
	height:301px;
}

#booking_ul{
	width:inherit;
	height:inherit;
	position:relative;
	list-style-type:none;
}

.form_sector{
	width:inherit;
	height:40px;
	position:relative;
}

.text_line{
	width:163px;
	height:inherit;
	position:relative;
	float:left;
	vertical-align:middle;
}

.input_line{
	width:147px;
	height:inherit;
	vertical-align:middle;
	padding-right:10px;
	float:right;
}

.input{
	width:137px;
	height:27px;
	outline:none;
	border:none;
	padding-left:3px;
	font-family:'MyriadProR';
	font-size:16px;
	color:#6e272f;
}

#select_b{
	width:137px;
	height:27px;
	border:none;
	outline:none;
	font-family:'MyriadProR';
	font-size:16px;
	color:#6e272f;
}
	