.room_head{
	position:relative;
	font-family:'MyriadProR';
	color:#6e272f;
	font-size:24px;
	left:113px;
	top:25px;
	font-weight:bold;
}
#room_head_div{
	width:inherit;
	height:60px;
	position:relative;
}
#room_body_div{
	padding-top:20px;
	width:inherit;
	position:relative;
	height:380px;
}
#room_table{
	width:inherit;
	height:inherit;
}
.room_td{
	width:480px;
	height:410px;
	vertical-align:top;
	padding-top:10px;
	text-align:center;
	padding-bottom:20px;
}
.room_pic{
	display:block;
	margin-left:114px;
}
.room_h{
	font-family:'MyriadProR';
	font-style:italic;
	font-size:22px;
	color:#6e272f;
	text-align:center;
	margin-top:15px;
}

.room_info{
	font-family:'MyriadProR';
	color:#6e272f;
	font-size:14px;
	font-weight:normal;
	align:center;
}

.room_cost{
	font-family:'MyriadProR';
	color:#6e272f;
	font-size:24px;
	font-weight:bold;
	font-style:italic;
	float:right;
	margin-right:34px;
}
#room_pad{
	height:50px;
}

.vert_line{
	background:url(img/room_border.jpg) right center no-repeat;
}

.gor_line{
	background:url(img/room_border_gor.jpg) center center no-repeat;
}

.prize_div{
	width:inherit;
	height:40px;
	bottom:0;
}

.room_img{
	width:inherit;
	height:135px;
}

.room_info_text{
	width:inherit;
	height:210px;
}

.room_cost{
	height:35px;
	width:inherit;
	text-align:right;
	padding-right:20px;
}

.pd {
	position: relative;
	width: inherit;
	height: 160px;
	display: block;
	bottom:0;
}